*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav{
    /* border: 2px solid yellowgreen; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.nav-bar{
    display: inline-block;
    /* border: 2px solid red; */
    padding-top: 7px;
    word-spacing: 47px;
    font-size: 20px;
    font-family: Arial;
    font-weight: 600;
}
.nav-item{
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color:black;
}
.bg-img{
    background-image: url(images/codioful-formerly-gradienta-rKv4HduvzIE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 3px solid green; */
    height: 100vh;
    box-shadow: 0px 2px 4px 0px #808080;
}
#Name{
    margin: 0px 20px;
    display: inline-block;
    /* border: 2px solid blueviolet; */
    display: flex;

}
#Name h2{
    font-weight: 600;
    font-family: 'Shantell Sans', cursive;
    word-spacing: 0px;
}
#Name img{
    height: 20px;
    width:20px;
    margin:5px;
}

#front{
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
}
#intro{
    margin-top: 154px;
    margin-right: -70px;
}
#intro p{
    font-size: 25px;
    font-family: 'Lato', sans-serif;

}
.spe-col{
    color: #D662D9;
}
#image{
    margin-top:50px;
    margin-left: 250px;
    /* border: 2px solid red; */
}
#image img{
    height: 350px;
    width: 300px;
    /* border: 2px solid red; */
}
#image1{
    position: absolute;
}
#image2{
    height: 400px;
}

.btn{
    border-style: none;
    border-radius: 25px;
    font-size:17px;
    padding: 12px 17px;
    border:2px solid #D662D9;
    margin: 15px 10px;
}
.email-me{
    display: flex;
}
.email-me button{
    margin-top: 13px;
}
.email-me img{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-top: 25px;
}

.about{
    /* border:2px solid red; */
    margin-bottom: 56px;
}
.content{
    /* border:2px solid red; */
    display:flex;
    margin: 84px 30px -16px 30px;
}
.inside-content{
    /* border:2px solid red; */
    margin:10px;
    width:30%;
    /* height:200px; */
}
#logo{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}
#logo img{
    height:80px;
    width:80px;
}
.inside-content h3{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding:20px 5px;
    color:#D662D9;
}
.inside-content p{
    font-family: Arial, Helvetica, sans-serif;
    text-align:justify;
    padding:0px 10px;
    color:#808080;
}
.about-learn{
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
}
.portfolio{
    /* border:2px solid red; */
    display: flex;
    justify-content: space-around;
}
#portfolio-h3{
    /* border:2px solid red; */
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    color:#D662D9;
    
}
.image-part img{
    margin-left:60px;
    height: 450px;
    /* border:2px solid red; */
}
.con-portfolio{
    /* border:2px solid red; */
    height:273px;
    width:475px;
    margin: 60px 66px 0px;
}
.con-portfolio h4{
    /* border:2px solid red; */
    text-align: center;
    font-size:25px;
    font-family: 'Rubik', sans-serif;
}
.con-portfolio p{
    /* border:2px solid red; */
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding:20px 5px;
    color:#808080;
}

#contact-h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    margin: 17px;
    text-transform: uppercase;
    color: #D662D9;
}
.email-plan{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    color: #808080;
    font-family: 'Lato', sans-serif;
}
.email{
    /* border: 2px solid green; */
    line-height: 30px;
}
.email input{
    width:290px;
    height: 38px;
    outline: none;
    font-size: 16px;
    padding-left: 6px;
}
.email input:focus{
    border:2px solid #D662D9;
    border-radius:5px;
}

.email label{
    display: block;
}
.plan-op{
    /* border: 2px solid red; */
    line-height: 30px;
}
.padd{
    margin: 10px 7px;
}
.plan-op label{
    display:block;
}
.plan-op select{
    width:290px;
    height: 38px;
    font-size: 16px;
    padding-left: 6px;
}
.plan-op select:focus{
    outline: 2px solid #D662D9;
    border: none;
    border-radius: 5px;
}
.out-massage{
    display: flex;
    justify-content: center;
    color: #808080;
    font-family: 'Lato', sans-serif;
}
.massage{
    width:598px;
    line-height: 30px;
}
.massage textarea{
    max-width: 100%;
    min-width: 100%;
    font-size: 16px;
    padding-left: 6px;
    padding-top:4px;
}
.massage textarea:focus{
    outline: 2px solid #D662D9;
    border: none;
    border-radius: 5px;
}
.send{
    display: flex;
    justify-content: center;
}
.social-media{
    display: flex;
    justify-content: center;
}
.social-media a{
    padding: 26px 22px;
    text-decoration: none;
    color:#808080;
}